* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.flexbox {
    display: flex;
    justify-content: space-evenly;
    background-color: aqua;
    padding: 20px;
    box-sizing: border-box;
    font-size: 24px;
    text-decoration: none;
}

.non {
    color: blue;
    text-decoration: none;
}


.flex {
    display: flex;
    height: 70vh;
    justify-content: center;
    align-items: center;
}

table {
    border: 2px solid forestgreen;
    width: 800px;
    height: 200px;
}

th {
    border-bottom: 1px solid black;
}

td {
    text-align: center;
}

tr {
    padding: 50px;
}

h1,
head {
    background-color: bisque;
    color: black;
    font-size: 28px;
    display: block;
    text-align: center;
}